* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "PT Sans Narrow", sans-serif;
  }
  .container {
    width: 100%;
    height: 1000px;
  }
  .header {
    float: left;
    height: 85px;
    width: 100%;
    background-color: #2b2d42;
    position: fixed;
    z-index: 1;
  }
  .nav {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    padding: 0px 8px;
  }
  .nav a.logo {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 100px;
    height: 85px;
  }
  .nav a.logo img {
    height: 100%;
    width: 100%;
  }
  .nav ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .nav ul li {
    list-style: none;
  }
  .nav ul li a {
    display: block;
    font-size: 32px;
    color: #fff;
    padding: 0 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
  }
  .nav ul li a:hover {
    background: #457b9d;
    border-radius: 3px;
  }
  #sub-menu {
    position: absolute;
    display: none;
  }
  #sub-menu li {
    padding: 15px 1px;
  }
  #sub-menu li a {
    text-transform: uppercase;
    font-size: 18pt;
    color: white;
  }
  .nav ul li:hover #sub-menu {
    display: block;
    background: #2b2d42;
    border-radius: 5px;
  }
  .nav form {
    float: right;
  }
  .nav form input {
    width: 400px;
    height: 36px;
    font-size: 16px;
    padding-left: 6px;
    outline-style: none;
  }
  .nav form button {
    height: 36px;
    width: 50px;
  }
  #login ul li a {
    font-size: 20px;
    padding: 8px;
  }
  .aside-L {
    margin-top: 85px;
    float: left;
    height: 900px;
    width: 12%;
    background-color: #edf2f4;
  }
  .aside-R {
    margin-top: 85px;
    float: right;
    height: 900px;
    width: 12%;
    background-color: #edf2f4;
  }
  .article {
    margin-top: 85px;
    float: left;
    height: 900px;
    width: 76%;
    background-color: #ef233c;
    z-index: 4;
    align-items: center;
    justify-content: center;
  }
  .footer {
    clear: both;
    height: 115px;
    width: 100%;
    background-color: #2b2d42;
  }