* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: gray;
}

article > hr {
  border: 1px solid rgba(128, 128, 128, 0.158);
  background-color: rgba(128, 128, 128, 0.158);
  width: 900px;
  border-radius: 50%;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "al h ar"
    "al n ar"
    "al a ar"
    "al f ar";
  grid-template-columns: 1fr 1248px 1fr;
  grid-template-rows: 0px 72px 1fr 100px;
  color: white;
  background-color: #181818;
}

/* <----header div----> */

.container > header {
  grid-area: h;
  background-color: #111111;
}

/* <---------> */

/* nav div */

.container > nav {
  grid-area: n;
  background-color: black;
  padding: 0 10%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.63);
}

.container > nav > .logo {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container > nav > .menu {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container > nav > .menu > ul {
  display: flex;
}

.container > nav > .menu > ul > li {
  list-style-type: none;
  padding-left: 55px;
}

.container > nav > .menu > ul > li > a {
  color: rgba(255, 255, 255, 0.63);
}

.container > nav > .menu > ul > li > a:hover {
  color: white;
}

.container > nav > .menu > ul > li > a:active {
  color: rgb(212, 138, 0);
}

/* <---------> */

.container > .asideL {
  grid-area: al;
}

/*<----article div---->*/

.container > article {
  grid-area: a;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > article > .bannerSect {
  height: 720px;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  background-image: url(../images/banner.PNG);
}

.bannerSect > .boxL {
  height: 65%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 10%;
}

.bannerSect > .boxL > .logo {
  font-size: 3rem;
}

.bannerSect > .boxL > .slogan {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.bannerSect > .boxL > hr {
  width: 150px;
  background-color: white;
}

.bannerSect > .boxL > a {
  color: white;
  font-weight: 600;
  border: snow 2px solid;
  width: 180px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerSect > .boxL > a:hover {
  background-color: white;
  color: black;
}

.container > article > .bannerSect > .boxR {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerSect > .boxR > form {
  width: 400px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.925);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bannerSect > .boxR > form > h2 {
  font-weight: 900;
  text-align: center;
  padding-top: 10px;
}

.bannerSect > .boxR > form > h2 > b {
  color: rgb(212, 138, 0);
}

.bannerSect > .boxR > form > input {
  outline-style: none;
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.164) solid;
  background-color: rgba(255, 255, 255, 0.925);
  font-size: 0.8rem;
  font-weight: 100;
  padding-bottom: 5px;
  padding-left: 10px;
  padding: 10px;
  width: 300px;
}

.bannerSect > .boxR > form > input:focus {
  outline: rgb(212, 138, 0) 1px solid;
}

.bannerSect > .boxR > form > input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.315);
}

.bannerSect > .boxR > form > .button {
  width: 400px;
  height: 60px;
  border: none;
  background-color: rgb(212, 138, 0);
  color: white;
  font-size: 1.3rem;
  font-weight: 800;
}

.container > article > .socialSect {
  height: 115px;
  width: 100%;
  display: flex;
  padding: 0 10%;
  border-bottom: 1px rgba(0, 0, 0, 0.164) solid;
}

.socialSect > .boxL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100%;
  color: black;
}

.socialSect > .boxL > h2 {
  padding-bottom: 5px;
}

.socialSect > .boxR {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5rem;
  color: black;
}

.socialSect > .boxR > a {
  color: rgba(0, 0, 0, 0.226);
  transition: 0.5s;
}

.socialSect > .boxR > a:hover {
  color: rgba(128, 128, 128);
}

.container > article > .tabSect {
  height: 595px;
  width: 100%;
  padding: 0 10%;
  display: flex;
}

.tabSect > .boxL {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabSect > .boxL > button {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  border: none;
  margin-top: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.5s;
}

.tabSect > .boxL > button:hover {
  background-color: rgba(0, 0, 0, 0.404);
  color: rgb(0, 0, 0);
}

.tabSect > .boxM {
  width: 50%;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabSect > .boxM > .text {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tabSect > .boxM > .text > hr {
  width: 70px;
  height: 2px;
  background-color: rgb(212, 138, 0);
  border: rgb(212, 138, 0);
}

.tabSect > .boxR {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabSect > .boxR > img {
  width: 100%;
  height: 300px;
}

.container > article > .sublistSect {
  height: 595px;
  width: 100%;
  display: flex;
  padding: 0 10%;
  color: black;
}

.sublistSect > .boxL {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}

.sublistSect > .boxL > img {
  width: 500px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.103) 10px 10px;
}

.sublistSect > .boxR {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sublistSect > .boxR > .text {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sublistSect > .boxR > .text > hr {
  width: 70px;
  height: 2px;
  background-color: rgb(212, 138, 0);
  border: rgb(212, 138, 0);
}

.sublistSect > .boxR > .text > .row {
  display: flex;
}

.sublistSect > .boxR > .text > .row > i {
  font-size: 1.4rem;
  color: rgba(128, 128, 128, 0.733);
  padding-right: 10px;
}

.container > article > .pictureSect {
  height: 525px;
  width: 100%;
  padding: 0 10%;
  color: black;
  display: flex;
}

.pictureSect > .boxL {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureSect > .boxL > .text {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pictureSect > .boxL > .text > hr {
  width: 70px;
  height: 2px;
  background-color: rgb(212, 138, 0);
  border: rgb(212, 138, 0);
}

.pictureSect > .boxR {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pictureSect > .boxR > img {
  width: 500px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.103) 10px 10px;
}

.container > article > .reasonSect {
  height: 595px;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10%;
}

.reasonSect > h1 {
  font-size: 2.5rem;
}

.reasonSect > hr {
  width: 70px;
  height: 2px;
  background-color: rgb(212, 138, 0);
  border: rgb(212, 138, 0);
}

.reasonSect > .row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.reasonSect > .row > .reason {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 350px;
}

.reasonSect > .row > .reason > i {
  font-size: 2rem;
  border: 1px solid rgb(212, 138, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: rgb(212, 138, 0);
}

.container > article > .pricingSect {
  height: 885px;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10%;
}

.pricingSect > h1 {
  font-size: 2.5rem;
}

.pricingSect > hr {
  width: 70px;
  height: 2px;
  background-color: rgb(212, 138, 0);
  border: rgb(212, 138, 0);
}

.pricingSect > .row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.pricingSect > .row > .option {
  border: 1px solid rgba(128, 128, 128, 0.322);
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.103) 10px 10px;
}

.pricingSect > .row > .option > .name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.781);
  border-bottom: 1px solid rgba(128, 128, 128, 0.322);
  height: 50px;
  font-weight: 900;
  font-size: 1.2rem;
  color: white;
}

.pricingSect > .row > .option > .price {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.781);
  border-bottom: 1px solid rgba(128, 128, 128, 0.322);
  height: 150px;
  font-weight: 700;
  color: white;
}

.pricingSect > .row > .option > .price > h2 > b {
  font-size: 3rem;
}

.pricingSect > .row > .option > .rating {
  background-color: rgb(212, 138, 0);
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
}

.pricingSect > .row > .option > .rating > p {
  padding: 5px 0;
  color: black;
}

.pricingSect > .row > .option > .info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  text-transform: uppercase;
  height: 400px;
}

.container > article > .reviewSect {
  height: 590px;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10%;
  padding-top: 70px;
}

.reviewSect > h1 {
  font-size: 2.5rem;
}

.reviewSect > hr {
  width: 70px;
  height: 2px;
  background-color: rgb(212, 138, 0);
  border: rgb(212, 138, 0);
}

.reviewSect > .row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.reviewSect > .row > .reason {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 260px;
  width: 250px;
  font-style: italic;
}

.reviewSect > .row > .reason > .person {
  display: flex;
  align-items: center;
  width: 100%;
  font-style: normal;
}

.reviewSect > .row > .reason > .person > .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 25px;
}

.reviewSect > .row > .reason > .person > .avatar > img {
  width: 100%;
  height: 100%;
}

.reviewSect > .row > .reason > .person > .info > h3 {
  padding-bottom: 5px;
}

.container > article > .productSect {
  height: 320px;
  width: 100%;
  background-color: rgba(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.productSect > img {
  opacity: 0.3;
}

.productSect > .text {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 225px;
  justify-content: space-evenly;
  align-items: center;
}

.productSect > .text > h1 {
  font-size: 2.5rem;
}

.productSect > .text > hr {
  width: 70px;
  height: 2px;
  background-color: rgb(212, 138, 0);
  border: rgb(212, 138, 0);
}

.container > article > .contactSect {
  height: 610px;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10%;
}

.contactSect > h1 {
  font-size: 2.5rem;
}

.contactSect > hr {
  width: 70px;
  height: 2px;
  background-color: rgb(212, 138, 0);
  border: rgb(212, 138, 0);
}

.contactSect > .row {
  width: 100%;
  height: 300px;
}

.contactSect > .row > form {
  width: 100%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.925);
  color: black;
  display: flex;
  justify-content: space-evenly;
}

.contactSect > .row > form > .boxL {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contactSect > .row > form > .boxL > input {
  outline-style: none;
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.164) solid;
  background-color: rgba(255, 255, 255, 0.925);
  font-size: 0.8rem;
  font-weight: 100;
  padding-bottom: 5px;
  padding-left: 10px;
  padding: 10px;
  width: 400px;
}

.contactSect > .row > form > .boxL > input:focus {
  outline: rgb(212, 138, 0) 1px solid;
}

.contactSect > .row > form > .boxL > input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.315);
}

.contactSect > .row > form > .boxR {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contactSect > .row > form > .boxR > textarea {
  outline-style: none;
  border: none;
  border: 1px rgba(0, 0, 0, 0.164) solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.925);
  font-size: 0.8rem;
  font-weight: 100;
  padding-bottom: 5px;
  padding-left: 10px;
  padding: 10px;
  width: 400px;
  height: 220px;
}

.contactSect > .row > form > .boxR > textarea:focus {
  outline: rgb(212, 138, 0) 1px solid;
}

.contactSect > .row > form > .boxR > textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.315);
}

.contactSect > button {
  color: white;
  background-color: rgb(212, 138, 0);
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 40px;
  font-weight: 700;
  font-size: 1.1rem;
}

/* <---------> */

.container > .asideR {
  grid-area: ar;
}

/*<----footer div---->*/

.container > footer {
  grid-area: f;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  font-size: 0.75rem;
}

footer > .socialRow {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

footer > .socialRow > a {
  color: rgba(255, 255, 255, 0.541);
  transition: 0.5s;
}

footer > .socialRow > a:hover {
  color: white;
}

footer > .socialRow > a > .fab {
  font-size: 1.3rem;
}

/* <---------> */

/* For mobile phones: */
@media only screen and (max-width: 420px) {
  .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "al h ar"
      "al n ar"
      "al a ar"
      "al f ar";
    grid-template-columns: 1fr 375px 1fr;
    grid-template-rows: 0px 72px 1fr 100px;
    color: white;
    background-color: #181818;
  }

  article > hr {
    border: 1px solid rgba(128, 128, 128, 0.158);
    background-color: rgba(128, 128, 128, 0.158);
    width: 200px;
    border-radius: 50%;
  }

  .container > nav > .menu {
    display: none;
  }

  .container > article > .bannerSect {
    padding: 0 5%;
    height: 600px;
  }

  .container > article > .bannerSect > .boxL {
    width: 100%;
    height: 95%;
    padding: 0;
  }

  .container > article > .bannerSect > .boxL > a {
    width: 100%;
  }

  .container > article > .bannerSect > .boxR {
    display: none;
  }

  .container > article > .socialSect {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 5%;
    height: 80px;
  }

  .container > article > .socialSect > .boxL {
    width: 200px;
  }

  .container > article > .socialSect > .boxL > p {
    display: none;
  }

  .container > article > .socialSect > .boxR {
    width: 100%;
    font-size: 1.8rem;
  }

  .container > article > .tabSect {
    flex-direction: column;
    padding: 0 5%;
    height: 500px;
    padding-top: 15px;
  }

  .container > article > .tabSect > .boxL {
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
  }

  .container > article > .tabSect > .boxM {
    width: 100%;
  }

  .container > article > .tabSect > .boxR {
    display: none;
  }

  .container > article > .sublistSect {
    flex-direction: column-reverse;
    padding: 0 5%;
    height: 700px;
  }

  .container > article > .sublistSect > .boxL > img {
    width: 337.5px;
    height: 230px;
  }

  .container > article > .sublistSect > .boxR {
    width: 100%;
  }

  .container > article > .sublistSect > .boxR > .text {
    height: 100%;
  }

  .container > article > .pictureSect {
    flex-direction: column;
    padding: 0 5%;
    height: 650px;
  }

  .container > article > .pictureSect > .boxL {
    width: 100%;
  }

  .container > article > .sublistSect > .boxL > .text {
    height: 100%;
  }

  .container > article > .pictureSect > .boxR {
    width: 100%;
  }

  .container > article > .pictureSect > .boxR > img {
    width: 337.5px;
    height: 230px;
  }

  .container > article > .reasonSect {
    height: 1300px;
    padding: 0 5%;
    text-align: center;
  }

  .container > article > .reasonSect > h1 {
    font-size: 1.8rem;
  }

  .container > article > .reasonSect > .row {
    flex-direction: column;
    height: 1100px;
  }

  .container > article > .pricingSect {
    text-align: center;
    padding: 0 5%;
    height: 2200px;
  }

  .container > article > .pricingSect > .row {
    flex-direction: column;
    height: 2000px;
  }

  .container > article > .reviewSect {
    padding: 0 5%;
    height: 800px;
  }

  .container > article > .reviewSect > h1 {
    font-size: 1.9rem;
    text-align: center;
  }

  .container > article > .reviewSect > p {
    text-align: center;
  }

  .container > article > .reviewSect > .row {
    flex-direction: column;
  }

  .container > article > .reviewSect > .row > .hidden {
    display: none;
  }

  .container > article > .productSect {
    text-align: center;
    padding: 0 5%;
  }

  .container > article > .contactSect {
    padding: 0 5%;
    height: 750px;
    text-align: center;
  }

  .container > article > .contactSect > .row {
    height: 420px;
  }

  .container > article > .contactSect > .row > form {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .container > article > .contactSect > .row > form > .boxL > input {
    width: 100%;
    margin-bottom: 20px;
  }

  .container > article > .contactSect > .row > form > .boxR > textarea {
    width: 100%;
  }

  .container > article > .contactSect > button {
    width: 100%;
  }

  .container > footer {
    padding: 0 5%;
  }

  .container > footer > .socialRow {
    width: 100%;
  }

  .container > footer > .socialRow > a > .fab {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1248px) {
  .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "al h ar"
      "al n ar"
      "al a ar"
      "al f ar";
    grid-template-columns: 0px 1248px 0px;
    grid-template-rows: 0px 72px 1fr 100px;
  }
}
